h1 {
    color: #D6603A;
    text-align: center;
}
p{
    color: #D6603A;
}

.hidden-text{
    text-decoration: none;
}

/* Media Queries */
@media screen and (max-width: 600px) {
    .password-sec{
    background-color: #272B31;
    }

    .password-box{
        background-color: #F4F5F0;
        width: 85%;
        margin: 0 auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .header-sec{
        height: 30px;
        background-color: #D6603A;
    }


}
@media screen and (min-width: 768px) {
    
.password-sec{
    background-color: #272B31;
    height: 770px;
}

.password-box{
    background-color: #F4F5F0;
    width: 500px;
    margin: 0 auto;
    top: 100px;
   position: relative;
}

.header-sec{
    height: 40px;
    background-color: #D6603A;
}

}